* {
    margin: 0;
    padding: 0;
}
.control {
    width: 450px;
   background-image: url("../IMGES/ma1.jpg");
   background-size: cover ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    color: #fcf5f5;
}


.item {
    width: 450px;
    height: 60px;
    background: rgb(56, 8, 228);
    display: flex;
}
.active {
    background: rgb(181, 241, 13);
}


.item div {
    width: 225px;
    height: 60px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.content {
    width: 100%;
}

.content div {
    margin: 20px 30px;
    display: none;
    text-align: left;
}

p {
    color: rgb(179, 34, 34);
    margin-top: 30px;
    margin-bottom: 6px;
    font-size: 15px;
}

.content input[type="text"],
.content input[type="password"] {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #c9fd0b;
    padding: 0 10px;
    box-sizing: border-box;
    filter:opacity(30%);
    border-radius: 10px;
}

.content select {
    width: 24%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #f3ef06;
    padding: 0 10px;
}

.content input[type="submit"] {
    margin: 40px ;
    margin-left: 85px;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    color: rgb(247, 231, 16);
    font-size: 30px;
    border: 1px solid #adadad;
background-color: rgba(0, 0, 0, 0.5);
    /* cursor: pointer; */
    /* letter-spacing: 4px; */
 /* filter:opacity(30%)
  */
 

}
.content input[type="submit"]:hover{
cursor: pointer;
}

.item div:hover {
    background: #ee0a0a;
}