*{
    margin:0 ;
    padding:0;
}
body{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
#btn{
    width:300px;
    height: 150px;
    border: 1px solid #2ea519;
    position: relative;
    text-align: center;
    line-height: 150px;
    font-size: 36pt;
    letter-spacing: 10px;
    overflow: hidden;
}
#btn div{
    position: absolute;
    background-color: rgb(18, 27, 202);
}
.left{
    width:100%;
    height:4px;
    left:-100%;
    top:0;
    animation: left 1s linear infinite;
}
@keyframes left {
    0%{
        left:-100%;
    }
    100%{
        left:100%;
    }

}
.top{
    width:4px;
    height:100%;
    top:-100%;
    right:0;
    animation: top 1s linear infinite 0.5s;
}
@keyframes top {
    0%{
        top:-100%;
    }
    100%{
        top:100%;
    }

}
.right{
    height:4px;
    width:100%;
    right:-100%;
    bottom: 0;
    animation: right 1s linear infinite 1s;
}
@keyframes right {
    0%{
        right:-100%;
    }
    100%{
        right:100%;
    }
}
.bottom{
    width:4px;
    height:100%;
    bottom:-100%;
    left:0;
    animation: bottom 1s linear infinite 1.5s;
}
@keyframes bottom {
    0%{
        bottom:-100%;
    }
    100%{
        bottom:100%;
    }
}
